/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/09/2018, 2:34:16 PM
    Author     : james
*/

body { /*Background colour*/
    font-family: Calibri, Helvetica, sans-serif;
    background: #e3ecf2;
}

h2 {
	color: #3c3d60;
	margin-left: 20px;
	margin-top: 10px;
}

.header {
	background: #3c3d60;
	color: #f1f1f1;
	font-weight: 500; /* */
	width: 100%;
	height: 45px;
    max-width: 940px;
    position: relative;
    margin: auto;
    border-bottom: 10px solid #88E4FF;
    
.content {
	max-width: 940px;
    min-width: 300px;
	margin: 0 auto;
	margin-top: 10px;
	background: #fff;
	border: 1px solid #ccc;
    margin-top: auto;   
    color: #f1f1f1;
}

p {
    margin-left: 200px;
    padding-right: 20px;
    /*color: #2e2f47;*/
    color: #7FFF00;
    position: relative;
    top: -15px; 
    font-family: Helvetica;
}

}
